body {
    background-color:burlywood;
    font-family: 'Times New Roman', Times,serif;
    font-size: 40px;
    max-width: 0 auto
}
h1 {
    color:black



.navigation {
    display:flex;
    flex-direction:row 
    align-content:
    margin:0;
    padding:

}

