body {
    background-color:rosybrown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    max-width: auto;
    margin: 0;
}   

body.index{
    background-image: url('butterflies.jpg');
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 ;
    color: black ;
}
h1 {
    color:black;
}
p{
    color:slategrey;
}
h3{
    color:darkslategrey
}

.navigation {
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin: 10px;
}

